.investors {
  background-color: black !important;

  .investors {
    padding: 4rem 6rem;
    display: flex;
    flex-direction: column;
    color: white;

    .agador {
      width: 500px;
      margin: 4rem auto 0;
    }

    &-slider {
      &__info {
        margin-top: 3rem;

        h2 {
          font-weight: 600;
          font-size: 50px;
          margin: 10px 0;
          text-align: center;

          span {
            color: #36b56c;
          }
        }

        h3 {
          font-weight: 100;
          letter-spacing: 2px;
        }

        button {
          display: flex;
          justify-content: center;
          width: 262px;
          text-align: center;
        }

        button:hover {
          background-color: #36b56c !important;
        }
      }
    }
  }

  .investors {
    padding: 4rem 6rem 0rem;

    &-container {
      max-width: 1000px;
      margin: 1rem auto 6rem;
      text-align: center;

      h1, h2 {
        font-weight: 600;
        font-size: 30px;
      }

      h2 {
        color: #37b66b;
        margin-top: 3rem;
      }

      h3 {
        font-size: 28px;
      }

      h3, h4 {
        font-weight: 400;
      }

      h4 {
        margin-bottom: 2rem;
        font-size: 22px;
      }

      button {
        margin: 2rem auto;
        display: flex;
        justify-content: center;
      }

      form {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        margin: 0 auto;

        .row {
          display: flex;
          justify-content: space-between;

          input {
            width: 48%;
          }
        }

        input {
          margin-top: 2rem;
          background-color: #212121;
          border: none;
          padding: 10px;
          color: white;
        }

        .input::placeholder {
          color: #070707;
          font-weight: 300;
          color: white;
        }
        .input::-webkit-input-placeholder {
          font-weight: lighter;
        }
      }
    }
  }

  form {
    input {
      font-size: 20px;
    }
  }

  footer {
    border-top: solid 1px;
    padding-top: 3rem !important;
  }
}

@media (max-width: 900px) {
  .investors {
    .investors {
      padding: 0 4rem;
      margin-bottom: -1rem;

      .agador {
        width: 180px;
        margin: 8rem auto 0;
      }

      &-slider__info h2 {
        font-size: 28px;
      }
    }

    footer {
      border-top: none;
      padding-top: 0 !important;
    }
  }
}
