.animation-reference {
  position: relative;
}

.complete-menu, .container-principal {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
}

.complete-menu {
  color: #fefefe;
  padding: 4rem 6rem;
  height: 100vh;
  background-color: #d20000;
  background-image: url('/agador-bg.png');
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier( 0.89, 0.25, 0, 0.99 );
  position: fixed;

  ul {
    li {
      margin: 2rem 0;
      list-style: none;
      max-width: fit-content;

      h2 {
        font-family: "Archia";
        font-size: 28px;
      }
    }

    .accordion {
      position: relative;

      &__title {
        display: flex;
        align-items: center;
        cursor: pointer;

        .rotate {
          transform: rotate(180deg);
        }

        h2 {
          margin-right: 12px;
        }
      }
    }

    .links {
      position: absolute;
      justify-content: space-between;
      width: 150px;
      top: 30px;
      left: 135px;
      display: flex;
      opacity: 0;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
      pointer-events: none;

      p {
        font-size: 28px;
      }
    }

    .show {
      opacity: 1;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
      pointer-events: inherit;
    }
  }

  .details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin-bottom: 1.5rem;
      letter-spacing: 3px;
      font-size: 16px;
      font-weight: bold;
    }

    p {
      font-weight: lighter;
      font-size: 18px;
      letter-spacing: 2px;
    }
  }
}

.principal-body {
  background-color: white;
}

.container-principal {
  transition-timing-function: cubic-bezier( 0.89, 0.25, 0, 0.99 );
  background-color: white;
}

@media (max-width: 900px) {
  .complete-menu {
    padding: 3rem;
    background-position: center;
    background-size: 85%;

    .menu-agador {
      width: 200px !important;
    }

    ul {
      margin-top: 4rem;

      li {
        margin: 3rem 0;
      }
    }

    .details {
      flex-direction: column-reverse;
      text-align: center;

      .contact {
        display: none;
      }

      .social-logos {
        padding-bottom: 3rem;
      }
    }
  }
}