.history {
  background-color: black !important;

  .overlay {
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(229,229,229,0) 50%, rgba(0,0,0,0) 100%);
  }

  .history {
    height: 80vh;
    background-image: url('/our-history-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    .historytext {
      position: absolute;
      top: 0;
      width: 100%;

      &-slider__info {
        margin-top: 15%;
        margin-left: 10%;
      }
    }
  }

  .historytext {
    padding: 4rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;

    &-slider {
      &__info {
        max-width: 800px;
        margin: 0 auto 18rem;
        width: 100%;

        h2 {
          font-weight: 500;
          font-size: 62px;
          margin: 10px 0;
        }

        h3 {
          font-weight: 100;
          font-size: 20px;
          letter-spacing: 2px;
        }
      }
    }
  }

  .container-h {
    max-width: 1000px;
    margin: 6rem auto 0;
    color: white;

    h2 {
      font-size: 38px;
      font-weight: 300;
      max-width: 400px;
    }

    h3 {
      margin-top: 3rem;
      margin-bottom: 1rem;
      font-size: 20px;
      font-style: italic;
    }

    p {
      font-size: 22px;
      font-weight: 200;
    }

    .card {
      background-color: #d9d9d9;
      color: black;
      font-weight: 900 !important;
      font-family: 'Satoshi-Bold';
      width: 200px;
      text-align: center;
      border-radius: 6px;
      padding: 8px;
      transition: all 0.3s ease-in-out;
      height: 115px;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-weight: 600;
      }

      &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 200px;
      }

      .initial {
        display: block;
      }

      .on-hover {
        display: none;
      }
    }

    .card:hover {
      background-color: #d30200;
      color: white;

      .initial {
        display: none;
      }

      .on-hover {
        display: block;
        font-size: 16px;
        font-family: "Satoshi";
        font-weight: 100;
      }
    }

    .card.mobile {
      display: none;
    }
  }

  .why {
    font-weight: 500 !important;
    font-size: 22px !important;
  }

  .margin {
    margin-top: 3rem;
    margin-left: 10px;
  }

  .list {
    p {
      margin-top: 1.5rem;
    }
  }

  footer .container {
    max-width: 100%;
  }

  footer {
    border-top: solid 1px white;
    margin-top: 7rem;
  }

  .card-container p {
    font-size: 20px;
  }

  .container-principal {
    background-color: black !important;
  }
}

@media (max-width: 900px) {
  .history {
    .history {
      height: 350px;

      .historytext {
        padding: 4rem 3rem;
    
        &-slider__info {
          margin-left: 0%;
    
          h2 {
            font-size: 48px;
          }
    
          h3 {
            font-size: 18px;
          }
        }
      }
    }

    .overlay {
      height: 350px;
    }

    .container-h {
      margin: -3rem auto 0;
      padding: 0 3.5rem;

      p:last-of-type {
        margin-bottom: 0 !important;
      }

      h2 {
        font-size: 26px;
        text-align: center;
        margin-bottom: 1rem;
      }

      p {
        font-size: 16px;
        text-align: center;
      }

      .card {
        margin-top: 2rem;
      }

      .card:hover {
        background-color: #d9d9d9;
        color: black;

        .on-hover {
          display: none;
        }

        .initial {
          display: block;
        }
      }

      .card.mobile {
        display: flex;
        background-color: #d30200;
        color: white;
        height: 133px;

        .on-hover {
          display: block;
          font-weight: 100;
          font-family: "Satoshi";
        }
      }

      .card-container {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 70rem;
      }
    }
  }
}
