.contact {
  background-color: black !important;

  .overlay {
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(229,229,229,0) 50%, rgba(0,0,0,0) 100%);
  }

  .contact-main {
    height: 80vh;
    background-image: url('/contact-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    .text {
      position: absolute;
      top: 0;
      width: 100%;

      &-slider__info {
        margin-top: 15%;
        margin-left: 10%;
      }
    }
  }

  .text {
    padding: 4rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;

    &-slider {
      &__info {
        color: white;

        h2 {
          font-weight: 500;
          font-size: 78px;
          margin: 10px 0;
        }

        h3 {
          font-weight: 100;
          font-size: 24px;
          margin-left: -8px;
        }
      }
    }
  }

  .container {
    max-width: 800px;
    margin: 4rem auto 0;
    color: white;

    h2 {
      font-size: 32px;
      font-weight: 300;
      text-align: center;
      letter-spacing: 26px;
    }

    h3 {
      margin-top: 3rem;
      margin-bottom: 1rem;
      font-size: 15px;
      font-style: italic;
    }

    p {
      font-size: 14px;
      font-weight: 200;
    }

    .card {
      background-color: #d9d9d9;
      color: black;
      font-weight: 500;
      width: 150px;
      text-align: center;
      border-radius: 6px;
      padding: 8px;

      p {
        font-weight: 600;
      }

      &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6rem;
      }
    }

    .social-logos {
      p {
        font-size: 20px !important;
      }
    }
  }

  .why {
    font-weight: 500 !important;
    font-size: 16px !important;
  }

  .margin {
    margin-top: 3rem;
    margin-left: 10px;
  }

  .list {
    p {
      margin-top: 1.5rem;
    }
  }

  footer .container {
    max-width: 100%;
  }

  footer {
    border-top: solid 1px white;
    margin-top: 7rem;
  }

  .contact-info {
    margin: 3rem auto;
    max-width: 550px;

    &__container {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      max-width: 175px;

      p {
        font-size: 18px;
        margin-top: 1rem;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      .row {
        display: flex;
        justify-content: space-between;

        input {
          width: 48%;
        }
      }

      input {
        margin-top: 2rem;
        background-color: #212121;
        border: none;
        padding: 10px;
        color: white;
      }

      .input::placeholder {
        color: white;
      }
      .input::-webkit-input-placeholder {
        font-weight: lighter;
      }
    }
  }

  form {
    input {
      font-size: 20px;
    }

    button:hover {
      background-color: #d30200 !important;
      -webkit-appearance: none !important;
      color: white !important;
    }
  }
}

@media (max-width: 900px) {
  .contact {
    .text {
      padding: 4rem 3rem;
    }

    .contact-main {
      height: 400px;

      .text-slider__info {
        margin-left: 0%;
        margin-top: 33%;
  
        h2 {
          font-size: 56px;
          margin: 0;
        }
  
        h3 {
          margin-left: 0px;
          font-size: 20px;
        }
      }
    }

    .overlay {
      height: 400px;
    }

    .container {
      margin: 0rem auto 0;

      h2 {
        font-size: 18px;
        letter-spacing: 16px;
        font-weight: 600;
      }
    }

    .contact-info {
      &__container {
        flex-wrap: wrap;
      }

      &__item {
        width: 100%;
        max-width: inherit;
        text-align: center;

        margin-top: 1rem;
      }

      form {
        padding: 0 3.5rem;

        input {
          font-size: 16px;
        }
      }
    }
  }
}