.team {
  background-color: black;

  .team {
    color: white;
    padding: 4rem 6rem 1rem;

    &-content {
      max-width: 1000px;
      margin: 6rem auto 0rem;

      h1 {
        font-weight: 500;
        font-size: 42px;
        max-width: 400px;
      }

      h2 {
        font-weight: 300;
        font-size: 20px;
        letter-spacing: 4px;
      }
    }
  }

  .light {
    font-size: 22px;
    font-weight: 200;
    margin-top: 3rem;
    border-bottom: solid 1px white;
    padding-bottom: 6rem;
  }

  .strong {
    margin: 3rem;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 9rem;
    font-family: 'Archia';
  }

  footer {
    border-top: solid 1px;
    padding-top: 3rem !important;
  }

  .container-principal {
    background-color: black !important;
  }
}
